*{
  box-sizing: border-box!important;
}

html, body{
  width: 100vw!important;
  height: 100vh!important;
  margin: 0!important;
  padding: 0!important;
}

body{
  position: absolute!important;
  width: 100vw!important;
  height: 100vh!important;
  display: flex!important;
  flex-direction: column!important;
  margin: 0!important;
  background-color: #ff6179b4!important;
  overflow-x: hidden!important;
}

.foto1,
.foto2{
  border-top:5px solid rgb(255, 255, 255)!important;
  border-bottom:5px solid rgb(255, 255, 255)!important;
  max-width: 200px!important;
}

.foto1{
  border-left:5px solid rgb(255, 255, 255)!important;
  border-top-left-radius: 20px!important;
  border-bottom-left-radius: 20px!important;
}

.foto2{
  border-right:5px solid rgb(255, 255, 255)!important;
  border-top-right-radius: 20px!important;
  border-bottom-right-radius: 20px!important;
}

h1{
  color: white!important;
  font-size: 34px!important;
  filter: drop-shadow(0 0 0.4em #ff0000);
  padding-top: 24px;
  padding-bottom: 1.2%;
}


.texto1{
  color: white!important;
  box-sizing: border-box!important;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 22px;
}

*::selection{
  color: white;
  background: #5e6168;

}

summary{
  font-size: 3rem!important;;
}

.texto1 a {
  color: rgb(255 255 255)!important;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
transition: 0.5s;
opacity: 0.7;
}

details,
summary{
  padding: 5px;
}

pre,
code{
  color:bisque!important;
  font-family: monospace!important;

}

.MARIANINHA{
  left: 50%;
  margin: 0;
  max-width: 100%!important;
  font-size: 12px;
}

.fotos1{
  display: flex;
  justify-content: center;
}